.all{margin-left:30px;}
#subtitle {font-size : 50px;}
.nearlyall {font-size : 50px;
     }
 select {
  width : 100px;
  height : 50px;
  font-size : 10px;
  text-align : center;
  margin-top : 1px;
  pdding : 1px;
    }
  .picture {
    margin-left : 20px;
    width : 400px;
    
    
  }
.policy{font-size : 20px;
     }